*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #838282;
    color: #333;
}
/* Header Section Styles Start */
.continater{
    width: 80%;
    height: 80px;
    margin: auto;
    border: 1px solid red;
}
.logo{
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid blue;
}
.navbar{
    float: right;
    width: 80%;
    height: 100%;
    border: 1px solid blue;
}
.navbar ul{
    list-style: none;
    text-align: right;
    margin-top: 25px;
}
.navbar ul li{
    display: inline-block;
    margin-left: 20px;
    color:1px solid rgb(14, 105, 14);
}
.navbar ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding:10px;

}
/* Header Section Styles end */